/* ---- reset ---- */ 
body{ 
    margin: 0px;
    padding: 0px;
    font-family: helvetica;
    max-width: 100vw;
    overflow-x: hidden;
} 

/* canvas{ 
    display: block; 
    vertical-align: bottom; 
}  */

/* ---- particles.js container ---- */ 
#particles-js{ 
    position:fixed; 
    width: 100vw; 
    height: 100vh; 
    background-color: #0d0617; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
    z-index: -1;
} 


.seccion{
    height: 100vh;
    width: 100vw;
    /* position: absolute; */
}

#presentacion{
    padding-top: 2%;
}

#contenedor-foto{
    height: 150px;
    aspect-ratio: 1/1;
    margin: auto;
    /* margin-top: 20px; */
    border-radius: 50%;
    overflow: hidden;
    background-color:black;
    border: solid 2px aqua;
}

#contenedor-foto img{
    max-width: 100%;
}

/*CSS DE LA IMAGEN*/


#contenedor-datos{
    width: 50%;
    margin: auto;
    color: white;
    text-align: center;
}

#contenedor-datos h2{
    font-weight: 100;
    margin-top: -20px;
}

#contenedor-presentacion{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    color: white;

    text-align: center;

    font-size: 0.9rem;
}

#enlaces{
    height: 50px;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

#enlaces button{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

#adorno{
    height: 50px;
    width: 10%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

#adorno img{
    height: 100%;
    animation:down-btn 1s infinite ;
}

@keyframes down-btn {
    from{
        opacity: 0%;
        margin-top: -5px;
    }

    to{
        opacity: 100%;
        margin-top: -0px;
    }
}


/*Experiencia*/
#experiencia h2{
    text-align: center;
    color:white;
}

#trabajos-contenedor{
    height: 90%;
    width: 90%;
    margin:auto;
}

.trabajo{
    width: 55%;
    display: block;
    margin-top: 10px;
    color:white;
    /* background-color:white; */
    /* backdrop-filter: blur(10px); */
}

.trabajo p {
    text-align: left;
    font-size: .8rem;
}

.float-lft{
    float: left;
}

.float-rg{
    float: right;
}

.skills li{
    list-style-type: square;
}